.login {
  .input {
    margin-bottom: 24px;
    position: relative;
    input {
      border: 1px solid #dadada;
      width: 100%;
      border-radius: 3px;
      height: 56px;
      padding: 18px 32px 18px 48px;
      font-size: 15px;
    }
    img {
      width: 15px;
      position: absolute;
      top: 19px;
      left: 19px;
    }
  }
}
