.searchableBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  .input {
    width: calc(100% - 50px);
    input {
      width: calc(100% - 40px);
      font-size: 15px;
      margin: 0 10px 0 0;
    }
  }
}
