.tabs {
  margin-right: -20px;
  .tabItems {
    border: 1px solid rgba(18, 23, 21, 0.05);
    border-radius: 60px;
    width: auto !important;
    margin-right: 8px;
    padding: 5px 15px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(18, 23, 21, 0.5);
    cursor: pointer;
    &.active {
      background: rgba(23, 159, 87, 0.15);
      color: #179f57;
    }
  }
}
.storeFilterByCategory {
  margin-bottom: 20px;
  > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px 0 0;
    .storeCard {
      margin: 32px 15px 0 0;
      width: calc(33.33% - 15px);
      max-width: none;
      @media (max-width: 480px) {
        width: calc(50% - 15px);
      }
    }
  }
}
