.selectCommunity {
  > a {
    background: #179b55;
    color: white;
    width: 239px;
    height: 56px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }
  p {
    margin: 16px 0 0;
    font-size: 15px;
    a {
      color: #179b55;
    }
  }
}
