.failed {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #f60d0d;
    margin-bottom: 30px;
  }
  span{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: rgba(18, 23, 21, 0.5);
    margin-bottom: 50px;
  }
  button{
    font-size: 15px;
    line-height: 22px;
    color: #179F57;
    border: 1px solid #179F57;
    border-radius: 6px;
    padding: 10px;
    &:hover{
      background-color:#92e6b91a ;
    }
  }
  
}
